<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>YeonExperience</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/static/assets/css/main.css}" />
<style type="text/css">
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
#dain {font-family: 'Noto Serif KR', serif;
}
</style>
</head>
<body>


	<!-- Header -->
	<header id="header">
		<div class="logo">
			<a href="/">YeonExperience<span> by yeondain</span></a>
		</div>
		<a href="#menu">Menu</a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a th:href=@{/}>Home</a></li>
		</ul>
	</nav>

	<!-- One -->
	<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p>
					<font size="3">회 원 가 입</font>
				</p>
				<h2>YeonExperience join membership</h2>
			</header>
		</div>
	</section>


	<section id="two" class="wrapper style2">
		<div class="inner" id = "dain">
			<div class="box">
				<div class="content">
					<header class="align-center">
						<h2>
							<strong>회 원 약 관 동 의 </strong>
						</h2>
						<p></p>
					</header>
					<br />
					<h4>
						<strong> 이용약관동의 (필수) </strong>
					</h4>

					<div
						style='border: 2px solid; background-color : #fafafa; color: #333333; width: 100%; height: 500px; overflow-y: scroll; padding-left: 5mm; padding-right: 5mm;'>

						<h3>
							<strong> 제 1 장 총 칙</strong>
						</h3>
						<dl>
							<dt>제 1 조 (목적)</dt>
							<dd>
								<p>이 약관은 다인미술관 사이트가 제공하는 모든 서비스(이하 '서비스')의 이용조건 및 절차, 이용자와
									국립현대미술관 사이트의 권리, 의무, 책임사항 과 기타 필요한 사항을 규정함을 목적으로 합니다.</p>
							</dd>

							<dt>제 2 조 (약관의 효력과 변경)</dt>
							<dd>
								<ul>
									<p>
									<li>다인미술관 사이트는 귀하가 본 약관 내용에 동의하는 경우, 다인미술관 사이트의 서비스 제공 행위
										및 귀하의 서비스 사용 행위에 본 약관이 우선적으로 적용됩니다.</li>
									<li>다인미술관 사이트는 본 약관을 사전 고지 없이 변경할 수 있고, 변경된 약관은 다인미술관 사이트
										내에 공지하거나 e-mail을 통해 회원에게 공지하며, 공지와 동시에 그 효력이 발생됩니다. 이용자가 변경된
										약관에 동의하지 않는 경우, 이용자는 본인의 회원등록을 취소(회원탈퇴)할 수 있으며 계속 사용의 경우는 약관
										변경에 대한 동의로 간주됩니다.</li>
									</p>
								</ul>
							</dd>

							<dt>제 3조 (약관 외 준칙)</dt>
							<dd>
								<P>본 약관에 명시되지 않은 사항은 개인정보보호법, 전기통신기본법, 전기통신사업법 등 기타 관련 법령의
									규정에 의합니다.</P>
							</dd>

							<dt>제 4 조 (용어의 정의)</dt>
							<dd>
								<p>본 약관에서 사용하는 용어의 정의는 다음과 같습니다.
								<ul>
									<li>1. 이용자: 본 약관에 따라 다인미술관 사이트가 제공하는 서비스를 받는 자.</li>
									<li>2. 가입 : 다인미술관 사이트가 제공하는 신청서 양식에 해당 정보를 기입하고, 본 약관에
										동의하여 서비스 이용계약을 완료시키는 행위.</li>
									<li>3. 회원 : 다인미술관 사이트에 개인 정보를 제공하여 회원 등록을 한 자로서 다인미술관 사이트가
										제공하는 서비스를 이용할 수 있는 자.</li>
									<li>4. 비밀번호 : 이용자와 회원ID가 일치하는지를 확인하고 통신상의 자신의 비밀보호를 위하여
										이용자 자신이 선정한 문자와 숫자의 조합.</li>
									<li>5. 탈퇴 : 회원이 이용계약을 종료시키는 행위.</li>
								</ul>
								</p>
							</dd>

							<h3>
								<strong> 제 2 장 서비스 제공 및 이용</strong>
							</h3>

							<dt>제 5 조 (이용계약의 성립)</dt>
							<dd>
								<ul>
									<li>이용계약은 이용자가 온라인으로 다인미술관 사이트에서 제공하는 소정의 가입신청양식에서 요구하는
										사항을 기록하여 가입을 완료하는 것으로 성립됩니다.</li>
									<li>다인미술관 사이트는 다음 각 호에 해당하는 이용계약에 대하여는 가입을 취소할 수 있습니다.<br />
										1) 다른 사람의 명의를 사용하여 신청하였을 때<br /> 2) 이용계약 신청서의 내용을 허위로 기재하였거나
										신청하였을 때 <br />3) 다른 사람의 다인미술관 사이트 서비스 이용을 방해하거나 그 정보를 도용하는 등의
										행위를 하였을 때<br /> 4) 다인미술관 사이트를 이용하여 법령과 본 약관이 금지하는 행위를 하는 경우<br />
										5) 기타 국립현대미술관 사이트가 정한 이용신청요건이 미비 되었을 때
									</li>
									<li>다인미술관 다음 각 호에 해당하는 경우 그 사유가 해소될 때가지 이용계약 성립을 유보할 수
										있습니다.<br /> 1) 서비스 관련 제반용량이 부족한 경우<br /> 2) 기술상 장애 사유가 있는 경우
									</li>
								</ul>
							</dd>

							<dt>제 6 조 (회원정보 사용에 대한 동의)</dt>
							<dd>
								<p>회원의 개인정보는 개인정보 보호법에 의해 보호됩니다. 다인미술관 사이트의 회원 정보는 다음과 같이
									사용, 관리, 보호됩니다. 회원이 본 약관에 따라 이용신청을 하는 것은, 다인미술관 사이트가 신청서에 기재된
									회원정보를 수집, 이용하는 것에 동의하는 것으로 간주됩니다.</p>
							</dd>

							<dt>제 7 조 (사용자의 정보 보안)</dt>
							<dd>
								<p>
									1. 가입 이용자가 다인미술관 사이트 서비스 가입 절차를 완료하는 순간부터 회원은 입력한 정보의 비밀을 유지할
									책임이 있으며, 회원의 ID와 비밀번호를 사용하여 발생하는 모든 결과에 대한 책임은 회원 본인에게 있습니다. <br />
									2. ID와 비밀번호에 관한 모든 관리의 책임은 회원에게 있으며, 회원의 ID나 비밀번호가 부정하게 사용되었다는
									사실을 발견한 경우에는 즉시 국립현대미술관 사이트에 신고하여야 합니다. 신고를 하지 않음으로 인한 모든 책임은
									회원 본인에게 있습니다.<br /> 3. 이용자는 다인미술관 사이트 서비스의 사용 종료 시마다 정확히 접속을
									종료해야 하며, 정확히 종료하지 아니함으로써 제3자가 귀하에 관한 정보를 이용하게 되는 등의 결과로 인해 발생하는
									손해 및 손실에 대하여 다인미술관 사이트는 책임을 부담하지 아니합니다.
								</p>
							</dd>

							<dt>제 8 조 (서비스의 이용)</dt>
							<dd>
								<p>서비스 이용은 다인미술관 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴, 1일 24시간을 원칙으로
									합니다. 이용시간은 정기점검 등의 필요로 인하여 다인미술관이 정한 날 또는 시간은 예외로 합니다.</p>
							</dd>

							<dt>제 8 조 (서비스의 이용)</dt>
							<dd>
								<p>서비스 이용은 다인미술관의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴, 1일 24시간을
									원칙으로 합니다. 이용시간은 정기점검 등의 필요로 인하여 국립현대미술관이 정한 날 또는 시간은 예외로 합니다.</p>
							</dd>

							<dt>제 9 조 (회원의 게시물)</dt>
							<dd>
								<p>다인미술관은 회원이 게시하거나 등록하는 서비스의 내용물이 다음 각 항에 해당 한다고 판단되는 경우에
									사전통지 없이 삭제할 수 있다.
								<ul>
									<li>1. 다른 회원 또는 제3자를 비방하거나 중상모략으로 명예를 손상시키는 경우</li>
									<li>2. 공공질서 및 미풍양속에 위반되는 경우</li>
									<li>3. 미술관의 저작권, 제3자의 저작권 등 기타 권리를 침해하는 경우</li>
									<li>4. 미술관에서 규정한 게시 기간을 초과한 경우</li>
									<li>5. 상업적인 내용 또는 허위로 기재한 게시물의 경우 판단되는 경우</li>
								</ul>
								</p>
							</dd>

							<dt>제 10 조 (게시물의 저작권)</dt>
							<dd>
								<p>회원은 다인미술관 서비스를 이용하여 얻은 정보를 가공, 판매하는 등 서비스에 게재된 자료를 상업적으로
									사용해서는 아니된다.</p>
							</dd>
						</dl>
					</div>
					<!--  ----------------------------------------------------------------------------- -->


					<br /> <br />
					<h4>
						<strong> 개인정보 수집/이용에 대한 동의 (필수) </strong>
					</h4>

					<div
						style='border: 2px solid; background-color : #fafafa; color: #333333; width: 100%; height: 300px; overflow-y: scroll; padding-left: 5mm; padding-right: 5mm;'>

						<dl>
							<dt>수집하는 개인정보의 항목</dt>
							<dd>
								<p> 다인미술관은 회원가입, 원활한 고객상담, 각종 서비스 등 기본적인 서비스
									제공을 위한 필수정보와 고객 맞춤 서비스 제공을 위한 선택정보로 구분하여 최초 회원가입 시 아래와 같은 최소한의
									개인정보를 수집하고 있습니다. - 필수항목 : 이메일, 비밀번호, 이름 , 생년월일, 성별, 주소, 휴대폰 -
									선택항목 : 직업, 미술계종사여부, 홈페이지 알게된 경로, 가입동기 * 선택정보를 입력하지 않은 경우에도 서비스
									이용제한은 없으며 민감한 개인정보(인종, 사상 및 신조, 범죄 및 의료기록 등)는 수집하지 않습니다. 서비스
									이용과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다. - 접속 로그 , 쿠키 , 접속 IP
									정보, 결제기록</p>
							</dd>
							
							<dt>개인정보의 수집 및 이용 목적</dt>
							<dd>
								<p>개인정보의 수집 및 이용 목적 회원가입 및 서비스 이용 시 본인의 확인 다인미술관 전시관람 예약, 교육 수강신청,
							문화행사 예약, 정기적인 메일발송 </p>
							</dd>
							
							<dt>개인정보의 보유 및 이용기간</dt>
							<dd>
								<p> 다인미술관 홈페이지 회원 정보 보유기간은<strong> <font  color = "red">2년</font></strong>이며,
							이용자가 회원 탈회를 요청하거나 개인정보의 수집·이용 등에 대한 동의를 철회 요청이 있는 경우 해당 개인정보를 즉시
							파기합니다. </p>
							</dd>

							<dt>정보주체의 권리</dt>
							<dd>
								<p> 다인미술관 회원은 자신의 개인정보 처리와 관련하여 아래와 같은 권리를 가집니다. -
							개인정보의 처리 여부를 확인하고 개인정보에 대하여 열람(사본의 발급을 포함한다. 이하 같다)을 요구할 권리 -
							개인정보의 처리 정지, 정정·삭제 및 파기를 요구할 권리 - 개인정보의 처리로 인하여 발생한 피해를 신속하고 공정한
							절차에 따라 구제받을 권리 권리행사의 방법 및 절차에 대해서는 홈페이지에 게시된 “개인정보처리방침”을 참조하여 주시기
							바라며, 우리 미술관은 정보주체의 권리 보장을 위하여 최선을 다하겠습니다.</p>
							</dd>

							<dt>동의거부권 및 동의 거부에 따른 불이익</dt>
							<dd>
								<p>  동의거부권 및 동의 거부에 따른 불이익
							가입자는 개인정보 수집·이용에 대하여 거부할 수 있는 권리가 있습니다. 단, 이에 대한 동의를 거부할 경우에는
							회원가입이 불가능합니다.</p>
							</dd>
						</dl>
					</div>
					
					   <div style='padding-top:2mm'>
                        <form action="member-form" method="post">
                          <div class="actions align-right">
                                <input type="checkbox" id="demo-copy" name="demo-copy" required>
                                <label for="demo-copy">모든 약관의 동의합니다.</label>
                                <input type="submit" value="계속" />
                            </div> 
                             
                        </form>
                    </div>
					
					
				</div>
			</div>
		</div>
	</section>


	<!-- Footer -->
	<footer id="footer" th:include="thymeleaf/footer">
		<div class="container">
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span
						class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-instagram"><span
						class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-envelope-o"><span
						class="label">Email</span></a></li>
			</ul>
		</div>
		<div class="copyright">&copy; Untitled. All rights reserved.</div>
	</footer>

	<!-- Scripts -->
	<script th:src=@{/static/assets/js/jquery.min.js}></script>
	<script th:src=@{/static/assets/js/jquery.scrollex.min.js}></script>
	<script th:src=@{/static/assets/js/skel.min.js}></script>
	<script th:src=@{/static/assets/js/util.js}></script>
	<script th:src=@{/static/assets/js/main.js}></script>
</body>

</html>
