<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>YeonExperience</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/static/assets/css/main.css}" />
<style type="text/css">
td { background-color: white;
 }
label {
text-align : right;
}
#mf {
background-color:#f0f0f0;
}
</style>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
        function sample4_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data
                            .buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraRoadAddr !== '') {
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('postcode').value = data.zonecode;
                    document.getElementById("roadAddress").value = roadAddr;
                    document.getElementById("jibunAddress").value = data.jibunAddress;

                    // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                    if (roadAddr !== '') {
                        document.getElementById("extraAddress").value = extraRoadAddr;
                    } else {
                        document.getElementById("extraAddress").value = '';
                    }

                    var guideTextBox = document.getElementById("guide");
                    // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                    if (data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';

                    } else if (data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }
            }).open();
        }
    </script>
</head>

<body>

	<!-- Header -->
	<header id="header">
		<div class="logo">
			<a href="/">YeonExperience<span> by yeondain</span></a>
		</div>
		<a href="#menu">Menu</a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a th:href=@{/}>Home</a></li>
		</ul>
	</nav>
	
	<!-- One -->
	<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p>
					<font size="3">회 원 가 입</font>
				</p>
				<h2>YeonExperience join membership</h2>
			</header>
		</div>
	</section>

    <!-- Registration Form -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="image fit">
                    <img th:src="@{/static/images/topbanner7.jpg}" alt="" />
                </div>
                <div class="content">
                    <h2 class="align-center"><strong>회 원 정 보 등 록</strong></h2>
                    <hr />
                    <form th:action="@{/sign-up/regist-ok}" method="POST" name="frm" id="frm" th:object="${memberCommand}">
                    <div class="table-wrapper">
									<table class="alt">
											<tr>
												<td id = "mf"><label for="userId">ID</label></td>
												<td> <input name="userId" id="name" type="text" placeholder="ID">
                            <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
                            <span th:text="${duplicate_userId}"></span></td>
											</tr>
											<tr>
												<td id = "mf"><label for="userName">NAME</label></td>
												<td><input name="userName" id="name" type="text" placeholder="Name">
                            <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" ></span></td>
											</tr>
											<tr>
												<td  id = "mf"><label for="userPw">PASSWORD</label></td>
												<td><input name="userPw" id="password" type="password" placeholder="PASSWORD">
                            <span ht:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}"></span></td>
											</tr>
											<tr>
												<td  id = "mf"><label for="userPwCon" id = "mf">PASSWORD CONFIRM</label></td>
												<td> <input name="userPwCon" id="password" type="password" placeholder="PASSWORD">
                            <span th:if="${#fields.hasErrors('userPwCon')}" 
		    				th:errors="*{userPwCon}" ></span>
                            <span th:text="${valid_userPwCon}"></span></td>
											</tr>
											<tr>
												<td id = "mf"><label for="userBirth">Birth</label></td>
												<td><input name="userBirth" id="birth" type="datetime-local" value="1999-01-01" />
                            <span th:if="${#fields.hasErrors('userBirth')}" th:errors="*{userBirth}" ></span></td>
											</tr>
											<tr>
												<td  id = "mf"><label for="userGender">GENDER</label></td>
												<td><div class="4u 12u$(small)">
                                <input type="radio" id="demo-priority-low" name="userGender" checked>
                                <label for="demo-priority-low">M</label>
                                <input type="radio" id="demo-priority-normal" name="userGender">
                                <label for="demo-priority-normal">W</label>
                                <span th:if="${#fields.hasErrors('userGender')}" th:errors="*{userGender}" ></span>
                            </div></td>
											</tr>
											<tr>
												<td  id = "mf"><label for="userEmail">Email</label></td>
												<td><input name="userEmail" id="userEmail" type="email" placeholder="Email">
                            <span th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}" ></span></td>
											</tr>
												<tr>
												<td  id = "mf">    <label for="userPh">PHONE NUMBER</label></td>
												<td><input name="userPh" id="contact" type="text" placeholder="ex) 010-1234-5678">
                            <span th:if="${#fields.hasErrors('userPh')}" th:errors="*{userPh}" ></span></td>
											</tr>
											
												<tr>
												<td  id = "mf"><label for="userAddr">ADDRESS</label></td>
												<td>  <ul class="actions align-left" style="margin-bottom:1mm">
                                <li><input type="text" id="postcode" placeholder="우편번호" maxlength="20">
                                </li>
                                <li><input type="button" class="button" onclick="sample4_execDaumPostcode()"
                                        value="우편번호 찾기"></li>
                            </ul>
                            <span th:if="${#fields.hasErrors('userAddr')}" th:errors="*{userAddr}" ></span>
                             <input type="text" id="roadAddress" placeholder="도로명주소">  
                                 <input type="text" id="jibunAddress" placeholder="지번주소"> 
                               <input type="text" id="extraAddress" placeholder="참고항목"> 
                             <input type="text" id="detailAddress" placeholder="상세주소">
                             </td>
											</tr>
									</table>
								</div>
								  <ul class="actions align-right">
                            <li><input value="뒤로" onclick="javascript: history.back();" class="button alt"
                                    type="button">
                            </li>
                            <li><input value="가입" class="button" type="submit"></li>
                        </ul>
                    </form>
                </div>
                
                
                
                
                
                
                
            </div>
        </div>
    </section>
    
   <!-- Footer -->
	<footer id="footer" th:include="thymeleaf/footer">
		<div class="container">
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span
						class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-instagram"><span
						class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-envelope-o"><span
						class="label">Email</span></a></li>
			</ul>
		</div>
		<div class="copyright">&copy; Untitled. All rights reserved.</div>
	</footer>

	<!-- Scripts -->
	<script th:src=@{/static/assets/js/jquery.min.js}></script>
	<script th:src=@{/static/assets/js/jquery.scrollex.min.js}></script>
	<script th:src=@{/static/assets/js/skel.min.js}></script>
	<script th:src=@{/static/assets/js/util.js}></script>
	<script th:src=@{/static/assets/js/main.js}></script>
</body>

</html>