<!-- Footer -->
<div class="container">
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="https://github.com/dainni" class="icon fa-envelope-o"><span
				class="label">Email</span></a></li>
	</ul>
</div>
<div class="copyright">
	Project Opereted by YeonDain<br /> &copy; Untitled Design: <a
		href="https://templated.co/">TEMPLATED</a>. Images <a
		href="https://unsplash.com/">Unsplash</a>. Video <a
		href="http://coverr.co/">Coverr</a>.
</div>
