<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     layout:decorator="layout">
	<head>
		<title>YeonExperience</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" th:href= "@{/static/assets/css/main.css}" />
<style type="text/css">
#images {
	padding: 20px;
}
#list {
background-color : #F2F2F2;
}
nav {
	width: 100%; 
	margin:  auto;
	background: auto;
	padding: 25px;
	font-size : 30px;
}

nav ul {
	text-align: right;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	padding: 0px;
	text-decoration: none;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 10px;
} <!--text-wieght는 글씨체 굵기 -->

nav ul li a, nav ul li a:after, nav ul li a:before {
	transition: all .5s;
}

nav ul li a:hover {
	color: #fff;
}

/* SHIFT */
nav.shift ul li a {
	position: relative;
	z-index: 10;
}

nav.shift ul li a:hover {
	color: black;
}

nav.shift ul li a:after {
	display: block;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: auto;
	width: 100%;
	height: 1px;
	content: '.';
	color: transparent;
	background: #c4c4c4;
	visibility: none;
	opacity: 0;
	z-index: -1;
}

nav.shift ul li a:hover:after {
	opacity: 1;
	visibility: visible;
	height: 100%;
}

</style>	
	 <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
	</head>
	<body>

		<!-- Header -->
		
		  <div style = "background-color : #000; ">  
			<header id="header" th:include="thymeleaf/header" class="alt">
			</header>
			<br/>
			<br/>
						<nav class="shift" >
							<ul>
								<li><a th:href="@{/mypage}">전시</a></li>
								<li><a th:href="@{/art}">관람</a></li>
								<li><a href="#">프로그램</a></li>
								<li><a href="#">More</a></li>
								<li><a href="#">Nice staff</a></li>
							</ul>
						</nav>
          </div>
          
		<!-- Banner -->
			<section id="three" class="wrapper style2">
				<div class="inner">
				<section class="banner half">
				<article>
					<img th:src=@{static/images/Experience.jpg}  alt="" />
					<div class="inner">
						<header>
							<p>yeon Experience by <a th:href="@{https://velog.io/@dainni}"> yeondain</a></p>
							<h2 style = "color : white;">YeonExperience</h2>
						</header>
					</div>
				</article>
			<article>
					<img th:src= @{static/images/main2.PNG} alt="" />
					<div class="inner">
						<header>
							<p>A free responsive web site template by <a href="https://templated.co">TEMPLATED</a></p>
							<h2 style = "color : white;">ANDY WARHOL</h2>
						</header>
					</div>
				</article>
				<article>
					<img th:src= @{static/images/main3.PNG}  alt="" />
					<div class="inner">
						<header>
							<p>Ipsum dolor sed magna veroeros lorem ipsum</p>
							<h2 style = "color : white;">Lorem adipiscing</h2>
						</header>
					</div>
				</article>
				</section>
				</div>
				</section>
			
					<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p class="special">yeon Experience by yeonExperience artwork</p>
						 <form method="post" action="/serarch">
						 <div align = "center">
									<div class=" ">
										<div class="4u 12u$(small)">
											<input type="text" name="query" id="query" value="" placeholder="검색어를 입력해주세요" />
										</div>
										<br/>
										<div class="2u$ 12u$(small)">
											<input type="button" value="Search" class="fit" />
										</div>
									</div>
									</div>
								</form>
					</header>
					<div>
						<table>
				<tr>
					<th:block id="images" th:each="alist ,a:${artlists}">
						<td id = "list">
							<a
							th:href="@{/artworkUserDetail(artworkNo = ${alist.artworkNo})}"><img
								th:src="@{'/static/artwork/upload/' + ${alist.artworkImage}}"
								height="350" width="270" />
							</a>
							<p align = "center">
							[[${alist.artworkType}]]<br /> [[${alist.artworkName}]]<br />
								~[[${#dates.format(alist.artworktime,'yyyy-MM-dd')}]]
							</p>
						</td>
						<th:block th:if="${a.count % 4} == 0" th:utext = "'</tr><tr>'" />
					</th:block>
				</tr>
			</table>
						</div>
					</div>
			</section>
			<a href="#" onclick="javascript:window.open('경로','new','left=50, top=50, width=800, height=600')">링크</a>
			
					<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<h2>YeonExperience Information Guide</h2>
						<a th:href="@{/Information_Directions}"><i class="fas fa-map-marker-alt fa-6x"></i></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
						<a th:href="@{/Information_Facilities}"><i class="far fa-building fa-6x"></i></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
						<a th:href="@{/Information_ArtManner}"><i class="fas fa-palette fa-6x"></i></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
						<a th:href="@{/Information_Parking}"><i class="fas fa-parking fa-6x"></i></a> 
					</header>
				</div>
			</section>
			

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="content">
									<header class="align-center">
										<p>YeonExperience Information</p>
						<a th:href="@{/Information_Parking}"> 공지사항</a> 
									</header>
								<br/>
								<table>
								<thead>
									<tr>
										<th>공지번호</th> 
										<th>제목</th>
										<th>작성일</th>
										<th>조회수</th>
									</tr>
								</thead>
								
								<tbody>
									 <th:block th:each = "an:${antLists}">
									 <tr>
									 <td><i class="fas fa-volume-up fa-1x"></i>&nbsp;[[${an.artnoticeNo}]]</td>
									 <td>[[${an.artnoticeSub}]]</td>
									 <td th:text = "${#dates.format(an.artnoticeDate,'yyyy-MM-dd')}" >
									 <td>[[${an.artreadCount}]]</td>
									 </tr>
									 </th:block>
								</tbody>
							</table>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
								</div>
								<div class="content">
									<header class="align-center">
										<h1>오시는길</h1>
										<h2>Vestibulum sit amet</h2>
									</header>
 							<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
		 

	 
			




		<!-- Footer -->
			<footer id="footer" th:include="thymeleaf/footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script th:src=@{/static/assets/js/jquery.min.js}></script>
			<script th:src=@{/static/assets/js/jquery.scrollex.min.js}></script>
			<script th:src=@{/static/assets/js/skel.min.js}></script>
			<script th:src=@{/static/assets/js/util.js}></script>
			<script th:src=@{/static/assets/js/main.js}></script>
	</body>

</html>